lightgbm
fairlearn
xlrd
seaborn

sklearn-compat==0.1.3
scikit-learn==1.6.1
holisticai==1.0.14
lightgbm==3.3.0
#imbalanced-learn==0.13.0
gdown
jax
optax
flax
ipywidgets

pyyaml
interpret
aix360
lime

# For deployment
kserve
mlflow